@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.delay-2000 {
  animation-delay: -2s;
}

.delay-5000 {
  animation-delay: -5s;
}